.home-main {
    margin-top: 53px;
    margin-left: 162px;
    padding-top: 56.55px;
    padding-bottom: 17.37px;
    gap: 120px;

    >div:nth-child(1) {
        margin-top: 34.34px;
    }
}

.home-main-above {
    width: 357px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    background: var(--grey-15) url("/images/above-bg.png") no-repeat 12px;
    border-radius: 61px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.home-main-title {
    max-width: 826px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    color: var(--white);

    span {
        color: var(--green-60);
    }
}

.home-main-desc {
    max-width: 826px;
    margin-top: 14px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--white-90);
}

.home-main-open {
    display: block;
    width: 183px;
    margin-top: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: var(--green-60);
    border-radius: 82px;
    font-size: 18px;
    text-align: center;
    color: var(--grey-11);
}

.home-products {
    margin-top: 74.26px;
    margin-left: 162px;
    margin-right: 162px;

    .page-bl-desc {
        width: 910px;
        margin-top: 14px;
    }
}

.home-products-tabs {
    align-self: flex-end;

    .tab-btn {
        width: fit-content;
        height: fit-content;
        padding: 14px 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
        color: var(--white);
    }

    .tab-btn__active {
        background-color: var(--green-60);
        border-radius: 140px;
        color: var(--grey-11);
    }
}

.home-products-box {
    margin-top: 100px;

    .divider {
        width: 1px;
        height: 319px;
        background-color: var(--grey-15);
    }
}

.home-products-item {
    width: 465.33px;
    text-align: center;

    .products-item-title {
        margin-top: 30px;
        font-size: 24px;
        line-height: 150%;
        color: var(--white);
    }

    .page-bl-desc {
        width: 465.33px;
        margin-top: 20px;
    }
}

.home-cases {
    margin-top: 150px;
    margin-left: 162px;
    margin-right: 162px;

    .page-bl-desc {
        margin-top: 14px;
    }
}

.home-cases-content {
    margin-top: 80px;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 60px;

    .cases-bl-title {
        font-weight: 500;
        font-size: 30px;
        line-height: 150%;
        color: var(--white);
    }

    .page-bl-desc {
        width: 748px;
        margin-top: 14px;
    }

     .cases-bl-more {
        display: block;
        width: 148px;
        margin-top: 62px;
        padding-top: 18px;
        padding-bottom: 18px;
        background-color: var(--grey-11);
        border: 1px solid var(--grey-15);
        border-radius: 82px;
        font-size: 18px;
        text-align: center;
        color: var(--white);
    }
}

.home-cases-box {
    width: 748px;
    padding: 50px;
    background-color: var(--grey-11);
    border-radius: 20px;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.home-cases-stats {
    margin-top: 62px;
    gap: 50px;

    dl {
        dt {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 58px;
            line-height: 150%;
            color: var(--green-60);
        }

        .page-bl-desc {
              width: 182.67px;
        }
    }
}

.home-features {
    margin-top: 150px;
    margin-left: 162px;
    margin-right: 162px;

    .page-bl-desc {
        max-width: 1296px;
        margin-top: 14px;
    }
}

.home-features-content {
    margin-top: 80px;
    gap: 30px;
}

.home-features-tabs {
    width: 308px;
    padding: 50px;
    background-color: var(--grey-11);
    border-radius: 12px;
    flex-direction: column;
    gap: 24px;

    .tab-btn {
        display: block;
        width: 208px;
        padding-top: 18px;
        padding-bottom: 18px;
        background-color: transparent;
        border: 1px solid var(--grey-15);
        border-radius: 100px;
        cursor: pointer;
        font-size: 18px;
        color: var(--white);
    }

    .tab-btn__active {
        background-color: var(--grey-10);
        color: var(--green-60);
    }
}

.home-features-box {
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
}

.home-features-item {
    width: 614px;
    height: fit-content;
    padding: 50px;
    background-color: var(--grey-11);
    border: 1px solid var(--grey-15);
    border-radius: 12px;

    .features-item-title {
        font-size: 22px;
        color: var(--white);
    }

    .page-bl-desc {
        width: 514px;
        height: 108px;
        margin-top: 30px;
    }
}

.home-faq {
    margin-top: 150px;
    margin-left: 163px;
    margin-right: 162px;

    .page-bl-desc {
        margin-top: 14px;

        a {
            color: var(--grey-70);
        }
    }
}

.home-faq-box {
    margin-top: 80px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.home-faq-item {
    width: 782.5px;
    height: fit-content;
    padding: 50px;
    border: 1px solid var(--grey-15);
    border-radius: 14px;

    .faq-item-question {
        width: 682.5px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--grey-15);
        font-weight: 500;
        font-size: 20px;
        color: var(--white);
    }

    .faq-item-answer {
        width: 682.5px;
        height: 162px;
        margin-top: 30px;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: var(--grey-70);
    }
}

.home-faq-load {
    display: block;
    width: 193px;
    margin: 50px auto 0;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    background: var(--grey-11) url("/images/arrow-down.png") no-repeat 152.5px;
    border: 1px solid var(--grey-15);
    border-radius: 100px;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    color: var(--white);
}